@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  background-color: #aaaaaa;
  --swiper-navigation-color: "#007aff";
  --swiper-pagination-color: "#007aff";
}

.a4 {
  width: 210mm;
  min-height: 297mm;

  box-shadow: 0 0 4mm rgba(0, 0, 0, 0.15);
}
